.channels {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em;
    height: 48vh;
}

.channels__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}

.channels__title > span {
    position: absolute;
    right: 0.4em;
}