.channels {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em;
    height: 40vh;
}

.channels__list-wrapper {
    overflow-y: scroll;
    visibility: hidden;
}

.channels__list,
.channels__list-wrapper:hover,
.channels__list-wrapper:focus {
    visibility: visible;
}

.channels__list-wrapper::-webkit-scrollbar {
    width: 4px;
}

.channels__list-wrapper::-webkit-scrollbar-thumb  {
    background-color: grey;
    border-radius: 2px;
} 

.channels__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}

.channels__title > span {
    position: absolute;
    right: 0.4em;
}