.friends-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 18px;
    border-bottom: 2px solid rgb(220, 220, 220);
}

.friends-header__title {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.friends-header__title>.MuiSvgIcon-root {
    height: 35px;
    width: 35px;
}

.friends-header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.2;
    color: rgb(180, 180, 180);
    padding: 8px 13px 8px 18px ;
    width: 300px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 8px;
    margin: auto 10px;
}

.friends-header__search>input {
    flex: 1;
    background-color: transparent;
    outline-width: 0;/*толщина контура, та самая синяя обводка*/
    border: none;
    color: rgb(180, 180, 180);
    font-weight: 300;
    font-size: 16px;
}