.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.main-content {
    height: 100vh;
    width: 100vw;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}