.channel {
    display: flex;
    color: grey;
    padding: 0 0.5em 0.3em;
    margin-top: 0.2em;
    /* margin: 0.5em 1em; */
}

.channel > h3 {
    font-weight: 500;
}

.channel > h3 > span {
    font-size: larger;
}

.channel:hover {
    background-color: rgba(130, 130, 130, 0.3);
    color: white;
    border-radius: 6px;
    cursor: default;
}