.friends-list__inner {
    padding: 0 20px;
}

.friends-list {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.friends-list::-webkit-scrollbar {
    width: 8px;
}

.friends-list::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

.friends-list::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 4px;
}

.friends-list__item + .friends-list__item{
    margin-top: 4px;
}

.friends-list__item:hover {
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.3);
}