.login {
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login > div {
    margin: 10px auto;
}

.login__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 25px;
    padding: 8px 13px 8px 18px ;
    width: 300px;
}

.login__input>input{
    flex: 1;
    background-color: transparent;
    outline-width: 0;
    border: none;
    color:rgb(133, 133, 133);
    font-weight: 300;
    font-size: 18px;
}

.login__input>.MuiSvgIcon-root {
    margin-right: 10px;
    color: rgb(150, 150, 150);
}

.login > button {
    height: 42px;
    width: 300px;
    margin: 10px auto;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 25px;
    color: rgb(150, 150, 150);
    font-weight: 300;
    font-size: 18px;
}