.member {
    display: flex;
    padding: 7px 0;
    cursor: pointer;
}

.member__status {
    height: 8px;
    width: 8px;
    margin: auto 8px;
    border-radius: 50%;
}

.member__status--online {
    background-color: rgb(29, 202, 29);
}

.member__status--offline {
    background-color: rgb(128, 128, 128);
}

.member__name {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
    font-size: large;
    font-weight: 400;
    color: rgb(151, 151, 151);
}

.member-profile {
    position: absolute;
    z-index: 10;
    top: 45px;
    left: 260px;
    height: 420px;
    width: 200px;
    background-color: rgba(209, 209, 209, 0.95);
}

.member-profile--visible {
    visibility: visible;
}

.member-profile--hidden {
    visibility: hidden;
}

.member-profile__avatar {
    width: 120px;
    margin: 25px 40px 10px;
    border-radius: 50%;
}

.member-profile__info {
    margin: 0 20px;
}

.member-profile__info>h4 {
    display: flex;
    justify-content: center;
    color: rgb(65, 65, 65);
    font-weight: 500;
}

.member-profile__info>span {
    display: flex;
    justify-content: center;
    color: grey;
}

.member-profile__socials {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.member-profile__socials>.MuiSvgIcon-root {
    margin-right: 10px;
    color: rgb(100, 100, 100);
}

.member-profile__links>h5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(65, 65, 65);
}

.member-profile__links>p {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: grey;
}