.create-server {
    display: flex;
    align-items: center;
    height: 70px;
    border: 1px solid rgba(190, 190, 190, 0.5);
    border-radius: 10px;
    color: rgb(30, 30, 30);
    margin: 8px;
    padding: 15px;
}

.create-server__icon {
    margin-right: 15px;
}

.create-server>h3 {
    width: 100%;
}

.create-server>.MuiSvgIcon-root {
    color: grey;
}

.create-server:hover {
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.5);
}
