.dialogs {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em;
    height: 95vh;
}

.dialogs__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}

.dialogs__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 7px 0;
    padding: 7px 0;
    color:grey;
}

.dialogs__item:hover>.MuiSvgIcon-root{
    visibility: visible;
}

.dialogs__item:hover {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
}

.dialogs__item>.MuiSvgIcon-root{
    visibility: hidden;
    margin-right: 8px;
}

.dialogs__item>.MuiSvgIcon-root:hover {
    cursor: pointer;
}