.members {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em;
    height: 50vh;
}

.members__list-wrapper {
    overflow-y: scroll;
    visibility: hidden;
    margin-bottom: 20px;
}

.members__list,
.members__list-wrapper:hover,
.members__list-wrapper:focus {
    visibility: visible;
}

.members__list-wrapper::-webkit-scrollbar {
    width: 4px;
}

.members__list-wrapper::-webkit-scrollbar-thumb  {
    background-color: grey;
    border-radius: 2px;
} 

.members__title {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}

.members__title > span {
    position: absolute;
    right: 0.4em;
}