.friends {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em;
    height: 47vh;
}

.friends__title {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}

.friends__title > span {
    position: absolute;
    right: 0.4em;
}