.general-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 270px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.general-sidebar__friends {
    margin-left: 0.7em;
    margin-top: 0.7em;
    height: 5vh;
}

.general-sidebar__friends a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}