.dialog {
    display: flex;
    padding: 7px 0;
}

.dialog__status {
    height: 8px;
    width: 8px;
    margin: auto 8px;
    border-radius: 50%;
}

.dialog__status--online {
    background-color: rgb(29, 202, 29);
}

.dialog__status--offline {
    background-color: rgb(128, 128, 128);
}

.dialog__name {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
    font-size: large;
    font-weight: 400;
    color: rgb(151, 151, 151);
}